 backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: mindconnect-backend
    restart: unless-stopped
    environment:
      NODE_ENV: development
      PORT: 5000
      MONGO_URI: mongodb://admin:password123@mongodb:27017/mindconnect?authSource=admin
      JWT_SECRET: yEFfSgdIudFwX357DPbJ_tHFhsmhFki2Z-ZtqhSf2Dmory1PgMT5UzDgeyZcUnDt7vHqyBXQdR8-OWoz8Fd6uQ
      JWT_EXPIRE: 7d
      FRONTEND_URL: http://localhost:3000
    ports:
      - "5000:5000"
    depends_on:
      - mongodb
    volumes:
      - ./backend:/app
      - /app/node_modules
    networks:
      - mindconnect-network
